
  <header style="
  display: grid;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px 10vw;
        max-width: 80vw;
        border-bottom: 2px solid #DAE028;
        overflow: hidden;
    text-align: center;
        ">
<h1 style="
max-width: max-content;
    border-bottom: 1px solid #00FFFF;
    margin: 10px auto;
    padding: 10px;
    "><%= @subject%></h1>
<ul style="list-style: none;
        display: inline-flex;
        justify-content: center;
        margin: 0 auto;
        "><li style="margin: 10px;"><a style="color: #00FFFF;
        text-decoration: none;
        padding: 10px;
        border: 1px solid #DAE028;
            border-radius: 5px;
        display: inline-block;
        " href="<%= @author[:linkedIn] %>">LinkedIn</a></li>
<li style="margin: 10px;"><a style="color: #00FFFF;
        text-decoration: none;
        padding: 10px;
        border: 1px solid #DAE028;
            border-radius: 5px;
        display: inline-block;
        " href="<%= @author[:gitHub] %>">GitHub</a></li>
<li style="margin: 10px;"><a style="color: #00FFFF;
        text-decoration: none;
        padding: 10px;
        border: 1px solid #DAE028;
            border-radius: 5px;
        display: inline-block;
        " href="<%= @author[:twitter] %>">Twitter</a></li>
<li style="margin: 10px;"><a style="color: #00FFFF;
        text-decoration: none;
        padding: 10px;
        border: 1px solid #DAE028;
            border-radius: 5px;
        display: inline-block;
        " href="<%= @author[:facebook] %>">Facebook</a></li>
<li style="margin: 10px;"><a style="color: #00FFFF;
        text-decoration: none;
        padding: 10px;
        border: 1px solid #DAE028;
            border-radius: 5px;
        display: inline-block;
        " href="<%= @author[:instagram] %>">Instagram</a></li></ul>
</header>
<div style="
        max-width: max-content;
        margin: 10px auto;
        color: #FFFFFF;
        padding: 10px;
        ">
<h2>Your contact detail</h2>
  <div style="
        margin: 10px;
        margin-left: 20px;
        ">
    <div>
      <p><span style="font-wiht: bold;
      color: #00FFFF;
        ">full name:</span> <%= @user.full_name %></p>
      <p><span style="font-wiht: bold;
      color: #00FFFF;
        ">email: </span><%= @user.email %></p>
      <p><span style="font-wiht: bold;
      color: #00FFFF;
        ">phone number: </span><%= @user.phone_number %></p>
    </div>
  </div>
<h2>The message</h2>
  <div  style="
        margin: 10px;
        margin-left: 20px;
        ">
    <div>
      <p><%= @user.message %></p>
    </div>
  </div>
</div>
<footer style="
display: grid;
        justify-content: center;
        align-items: center;
        padding: 10px 10vw;
        max-width: 80vw;
        border-top: 2px solid #DAE028;
        overflow: hidden;
        ">
<h2 style="margin: 10px auto">Thank you for your message!</h2>
<p style="padding: 10px;
        border-bottom: 2px solid #DAE028;
        color: #DAE028;
        max-width: max-content;
        margin: 10px auto;
        ">Call me now at: </span> +251921577930</p>
</footer>
